<title>Employee</title>
<link rel="stylesheet" href="/css/dashboard.css">
<script src="/js/dashboard.js" defer></script>
<div class="main">

    <%- include('_sidebarPartial')%>

        <div class="two">


            <%- include('_navbarPartial')%>
                <h4 style="margin: 30px 10px; padding: 2px 5px;" class="h"> <span>Employee</span> <i
                        class="fa-solid fa-user-plus" data-bs-toggle="modal" data-bs-target="#exampleModal"></i> </h4>

                <div class="flx">

                    <%if(allEmployee.length>0){%>

                        <% for(let i=0; i<allEmployee.length; i++){ %>

                            <div class="col">
                                <div class="card h-100 crd">
                                  <div class="fstltr"> <%=allEmployee[i].name.charAt(0).toUpperCase()%> </div>
                                  <div class="card-body">
                                    <h5 class="card-title"><%=allEmployee[i].name%></h5>
                                    <p class="card-text"><%=allEmployee[i].email%></p>
                                </div>
                                </div>

                              </div>

                    
                        <%}%>
                        <%}%>


                    <div class="card crd" style="width: 18rem;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa-solid fa-user-plus"></i>
                        <div class="card-body">
                            <h4>New Employee</h4>
                            <p class="card-text">Click here to add new Employee</p>
                        </div>
                    </div>
                  

                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Create New Employee</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form action="/create_employee" class=""  method="post">
                                <div class="modal-body">
                                  
    
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="email">
                                    </div>
                                      <div class="mb-3">
                                        <input type="text" name="adminId" id="" value="<%= adminId%>" style="display: none;">
                                        <label for="formGroupExampleInput2" class="form-label">Name</label>
                                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Name" name="name">
                                      </div>
    
    
                                </div>
    
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-primary">Create</button>
                                </div>
                            </form>
                          </div>
                        </div>
                      </div>

                </div>

        </div>

</div>